
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <!-- Sidebar Container Start -->
                        <div class="sidebar">  
                        <br><br><br><br><br><br><br><br>                        
                            <div class="widget">
                                <h4>Our Programs</h4>
                                
                                <h5>Professional Diploma courses (click on a course) </h5>
                                <ul>
                                    <li><a href="">Professional Diploma in Android and Web systems</a></li>
                                </ul>
                                <h5>Professional Bachelors (click on a course) </h5>
                                <ul>
                                    <li><a href=""> Bsc in Web and Mobile Systems</a> </li>
                                    <li><a href=""> Bsc in Mobile Computing</a> </li>
                                    <li><a href=""> Bsc in Computer Software Engineering</a> </li>
                                    <li><a href=""> Bsc in Computer Systems and Network Administration</a> </li>
                                    
                                    
                                </ul>
                                <h5>Our HND Courses (click on a course)</h5>
                                <ul>
                                  <li><a href=""> HND in Software Engineering and Computing</a> </li>
                                     
                                </ul>
                                
                                <h5>Our Certificates short courses (click on a course)</h5>
                                <ul>
                                  <li><a href=""> Android App Development</a>  </li>
                                  <li><a href=""> Professional Mobile First Web Design</a>  </li>
                                  <li><a href=""> Web Development With PHP and Laravel</a>  </li>
                                  <li><a href=""> Web Development with Node, Express and MongoDB</a>  </li> 
                                  <li><a href=""> Web Development with Ruby on Rails</a>  </li>   
                                </ul> 
                            </div>
                        </div>
                        <!-- Sidebar Container End -->
                    </div>
                </div>
            </div> 
        </section>   