<!DOCTYPE html>
<html>

    <head>
        <title><%= locals.title %> </title>
        <link rel="shortcut icon" href="../images/iipawislogo.png" />
       
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<link rel="stylesheet"   href="../css/animate.css">
 <link rel="stylesheet"   href="//fonts.googleapis.com/css?family=Quicksand" />
 <link rel="stylesheet"  href="../css/anotherfade.css">
<link rel="stylesheet"   href="../css/applyform.css">
<link rel="stylesheet"   href="../css/boostrap-datepicker.min.css">
<link rel="stylesheet"   href="../css/hover.css">
<link rel="stylesheet"   href="../css/jquery.bxslider.css">
<link rel="stylesheet"   href="../css/magnific-popup.css">
<link rel="stylesheet"   href="../css/responsive.css">
<link rel="stylesheet"   href="../css/slicknav.css">
<link rel="stylesheet"   href="../css/style.css">
<link rel="stylesheet"   href="../css/superfish.css">
<link rel="stylesheet"   href="../css/frontpage.css">

         <style type="text/css">
         @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:500,600,700");



          .register-button {
   
              background: #0066cc;
              border: 1px solid #f1f1f1;
              font-size: 20px;
              font-weight: 100;
              letter-spacing: 2px;
              color: #fff;
              
            }
            .mobile-content h3 {
              color: #fff;
              margin-bottom: 40px;
              font-weight: 600
            }

             .android {
              
              background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(../images/androidapp.jpg); 
            }
            .webdesign {
              /*background-image: url(pages/androidapp.jpg); */
              background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(../images/frontend.jpg);
            }

             

            .it{
              
              
              background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(../images/itpic2.jpg); 
            }
 

             
             
             

            .software {
              background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(../images/software.jpg);
            }
            .gmm {
              background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(../images/gmm.jpg);
            }

            .ce {
              background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(../images/ceng.jpg);
            }


            .php {
              
              /*background-image: url(pages/androidapp.jpg); */
              background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(../images/phone2.jpg);
            }

            .register-button:hover {
              background: #0066cc;
            }
            .new-user-wrapper { 
              padding: 1px;
              
              
              border: 1px solid #aaaaaa;
             padding-top: 0px;
              margin-top: 50px
            }
             .grey-text {
              margin-top: 17px;
              color: #a9640e;
              font-size: 17px;
              font-weight: 100

             }

             .dta {font-weight: 300!important;}
             

            .title {
              margin-bottom: 30px;
            }
            .error-span {
              color: red;
            }
            .short {
              text-align: left;
            }

            .certificates h4 {
              text-align: left;
            }

            @media (max-width: 600px) {
              .new-user-wrapper {
                margin: 0 auto;
              }

              #mobile-div {
              overflow: auto;
            }
            .about {
              padding-top: 5px
            }
            }

            .dinfo {font-weight: 300; color: red;}

            .infos{
              font-size: 18px;
              color: #666;
            } 

            .registerform {
              background: #f1f1f1;
              border-radius: 0px;
              margin: 0;
              margin-bottom: -1px;
            }

            
            /* ----------login page--------------- */

            .login-form { 
            background-color: #fff;
            margin-top: 50px;
            border: 1px solid #aaaaaa;
            }
            /* ----------some front page styles--------------- */

            .course-intro h4 {
                margin-top: 33px;
                color: #e43a3a;
                font-weight: 600;
            }

            .message-div {
                position:fixed; 
                top: 70px; 
                left: 0px; 
                width: 100%;
                z-index:9999; 
                border-radius:0px;   
            }
            
            .btn-info {
  padding:10px 18px;
  background-color: #d9d9d9;
  color: #2098d1;
  border: 3px solid #2098d1;
  border-radius: 300px;
  font-size: 22px;
  margin-bottom: 10px;
}
.diploma-instruct {
  color: red;
  font-weight: 300;
}

.course .item {
  border: 1px solid #aaa;
  border-radius: 0;

}

.title-line {
  border-bottom: 2px solid #000;
  width: 70%;
  margin: 0 0;
}

.top-bar {border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;}
         </style>
    </head>


  

  <body>
  	<div class="toppanel">
      <div class="container showcase">
        
          <div class="logo col-md-2 col-md-offset-0 col-xs-6 col-xs-offset-3">
           <a href="/"><img src="../images/iipawislogo.png" class="img-responsive"> </a>
          </div>
         
               
        <div class="col-md-10 col-xs-12">
          
            <h4 class="page-title ">International Institute for Professional Android, Web and IT Systems</h4>
            
            <div class="h-bar hidden-lg hidden-md" ><i class="fa fa-book"></i></div>
            <h5>Equiping you for the digital economy</h5>                   
        </div>
      </div>
    </div>
         
        <!--<div class="grad col-sm-12"></div>-->