<% include partials/toplayout %>
        <div id="first-slider">
            <div id="carousel-example-generic" class="carousel slide carousel-fade ">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <!-- Item 1 -->
                    <div class="item active slide1">
                        <div class="row">
                            <div class="container">
                                <div class="col-md-3 text-right">
                                     
                                </div>
                                <div class="col-md-9 col-xs-12 text-left">
                                    <h3 data-animation="animated bounceInDown">Central Africa's pioneer higher institute for Android, Web and Applied Computer technologies</h3>
                                    <h4 data-animation="animated bounceInUp">with English as language of instruction !</h4>  
                                     
                                      <a href="" data-animation="animated bounceInDown"   class="btn btn-lg btn-danger" >Apply now!</a>
                                              
                                </div>
                            </div>
                        </div>
                     </div> 
                    <!-- Item 2 -->
                    <div class="item slide2">
                        <div class="row"><div class="container">
                            <div class="col-md-7 text-left">
                                <h3 data-animation="animated bounceInDown"> Highly qualified lecturers and professionals </h3>
                                <h4 data-animation="animated bounceInUp">Drawn from the global tech industry </h4>
                                 <a href="" data-animation="animated bounceInDown"   class="btn btn-lg btn-danger" >Apply now!</a>
                             </div>
                            <div class="col-md-5 text-right">
                                
                            </div>
                        </div></div>
                    </div>
                    <!-- Item 3 -->
                    <div class="item slide3">
                        <div class="row"><div class="container">
                            <div class="col-md-7 text-left">
                                <h3 data-animation="animated bounceInDown"> Students have the unique opportunity to undertake internship projects  </h3>
                                <h4 data-animation="animated bounceInUp"> from Imagin Teknologi, Norway</h4>
                                
                                 <a href="" data-animation="animated bounceInDown"   class="btn btn-lg btn-danger" >Apply now!</a>
                             </div>
                            <div class="col-md-5 text-right">
                                <!--<img style="max-width: 200px;"  data-animation="animated zoomInLeft" src=".png"> -->
                            </div>     
                        </div></div>
                    </div>
                    <!-- Item 4 -->
                    <div class="item slide4">
                        <div class="row"><div class="container">
                            <div class="col-md-7 text-left">
                                <h3 data-animation="animated bounceInDown"> Our graduates are technically equipped</h3>
                                <h4 data-animation="animated bounceInUp">to provide robust digital solutions to complex problems  </h4>
                                 <a href="" data-animation="animated bounceInDown"   class="btn btn-lg btn-danger" >Apply now!</a>
                             </div>
                            <div class="col-md-5 text-right">
                                
                            </div>  
                        </div></div>
                    </div>
                    <!-- End Item 4 -->
                </div>
                <!-- End Wrapper for slides-->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        

        
    <div class="page-wrapper">

        <!-- Top Bar Start -->
        <div class="top-bar">
            <div class="container">
                <div class="row">                   
                    <div class="col-md-6 top-social">
                        <ul>
                            <li><a href="https://www.facebook.com/iipawis/"><i class="fa fa-facebook"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 top-contact">
                        <div class="list">
                            <i class="fa fa-envelope"></i>director@iipawis.com
                        </div>
                        <div class="list">
                            <i class="fa fa-phone"></i> +237 682889915
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->
        

        <!-- Header Start -->
        <header>
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-12 col-sm-12 nav-wrapper">

                         

                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->

          <div id = "mobile-div">
                <div class="show-mobile col-sm-12 col-xs-12 text-center">
                    <div class="mobile-content">
                        <h3>Your true software career starts here</h3>
                         <a href=""     class="btn btn-lg btn-danger" >Apply now!</a>
                        <p>Admission currently going on</p> 
                    </div>   
               </div>    
           </div>     
       


        <!-- About Start -->
        <section class="about">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="item">
                            <h3>Welcome</h3>
                            <p>
                                The <strong>International Instiute for Professional Android, Web and IT Systems, IIPAWIS </strong>is a specialized higher institute for applied computer science launched by <strong>Imagin Technologies Norway</strong>,  in Bonaberi, Douala,  the economcic capital of Cameroon.
                            </p>                            
                            <p>
                                IIPAWIS aims to groom students to be competitive in the fast changing world of mobile, web and computer technology. The trainings are highly intensed and focused on rigorous programming in the state of the art programming languages and standards</p>

                            
                            <br>
                            <p>The Director</p>                         
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="item">
                            <div class="embed-responsive embed-responsive-16by9" style="background-image:url(../images/utube2.jpg)">  
                                                                                      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About End -->
        

        <!-- Course Start -->
        <div class="course">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Our Courses</h2>
                        <div class="h-bar"><i class="fa fa-book"></i></div>
                        <h3>We Provide Just the Right Courses </h3>
                    </div>
                </div>
                <div class="row">
                 <div class=" col-md-12 course-intro"> <h4>Our Professional Diploma Courses </h4></div> <div class=" col-md-0"></div>
                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo" style="background-image:url(../images/webdev.jpg)">

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Professional Diploma in Android and Web Systems</h2>
                                    <!--<h3>Fee: CFA 600 000 F</h3> -->
                                    <h3>Duration: 1 Year</h3>
                                    <p>
                                        Get the advanced skills required to qualify you as a professional Android App and Full stack Web Developer.
                                    </p>
                                    <p>
                                       <a href="/diploma" class= "btn btn-primary" >  See Details </a> 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                    

                     <br>
                     <br>

                    <div class=" col-md-12 course-intro"> <h4>Our Professional Bachelor Programs </h4></div> <div class=" col-md-0"></div>



                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo webdesign">

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Bsc in Web and Mobile Systems </h2>
                                    <!--<h3>Fee: 250 000FCFA</h3> -->
                                     <h3>Duration: 3 years</h3>
                                    <p>
                                        This program prepares students for professional Web and mobile applications development.
                                    </p>
                                    
                                    <p>
                                      <a href="/bscweb" class= "btn btn-primary" >  See Details </a>     
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo android " >

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Bsc in Mobile Computing &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </h2>
                                    <!--<h3>Fee: 300 000 FCFA</h3>-->
                                    <h3>Duration: 3 years</h3>
                                    <p>
                                        This program focuses on mobile hardware, software, and mobile communications.
                                    </p>
                                    <p>
                                      <a href="/bscmobile" class= "btn btn-primary" >  See Details </a>    
                                    </p>
                                </div>                                    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo software">

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Bsc in Computer Software Engineering</h2>
                                    <!--<h3>Fee: 280 000 FCFA</h3>-->
                                    <h4>Duration: 3 years</h4>
                                    <p>
                                        This course prepares students as professionals for the global software engineering industry
                                    </p>
                                    <p>
                                       <a href="/bscsoftware" class= "btn btn-primary" >  See Details </a>   
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo it">

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Bsc in Computer System and Network Administration</h2>
                                    <!--<h3>Fee: 280 000 FCFA</h3>-->
                                    <h4>Duration: 3 years</h4>
                                    <p>
                                        This course prepares students to man the IT infrastructures of big companies 
                                    </p>
                                    <p>
                                       <a href="/bsccsna" class= "btn btn-primary" >  See Details </a>   
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo ce">

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Bsc in Computer Engineering</h2>
                                    <!--<h3>Fee: 280 000 FCFA</h3>-->
                                    <h4>Duration: 3 years</h4>
                                    <p>
                                        Computer engineering is the branch of engineering that integrates electronic engineering with computer sciences.
                                    </p>
                                    <p>
                                       <a href="/bscce" class= "btn btn-primary" >  See Details </a>   
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo gmm">

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Bsc in Computer Graphics and Multimedia</h2>
                                    <!--<h3>Fee: 280 000 FCFA</h3>-->
                                    <h4>Duration: 3 years</h4>
                                    <p>
                                        This program is for motion graphics, graphic design and computer modeling  enthusiasts.
                                    </p>
                                    <p>
                                      <a href="/bscgmm" class= "btn btn-primary" >  See Details </a>    
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                     
                     
                </div>
                <div class=" col-md-12 course-intro short"> <h4>Government programs (2 years)</h4></div> <div class=" col-md-0"></div>
                 <ul class="certificates">
                     <li><h4><a href=" /hnd">HND in Software Engineering and Computing</a></h4></li>  
                      
                      
                 </ul>
                 <div class=" col-md-12 course-intro short "> <h4>Our short Professional Certificates courses(4 months each) </h4></div> <div class=" col-md-0"></div>
                 <ul class="certificates">
                     
                     <li><h4><a href="/android ">Android App Development</a></h4></li>   
                     <li><h4><a href="/webdesign ">Professional Mobile First Web Design</a></h4></li> 
                     <li><h4><a href=" /laravel">Web Development With PHP and Laravel</a></h4></li> 
                     <li><h4><a href=" /nodecourse">Web Development with Node, Express and MongoDB</a></h4></li> 
                     <li><h4><a href="/rails ">Web Development with Ruby on Rails</a></h4></li> 


                  
                 
                               
                 </ul>
                 
                
            </div>
        </div>
        <!-- Course End -->
        <!-- Department Area Start -->
        <section class="department no-pb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="department-grid">
                            
                            <h2>Departments</h2>
                            <div class="h-bar"><i class="fa fa-book"></i></div>
                            <h3>Our Academic Departments</h3>

                            <div class="department-grid-item">
                                <div class="item">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="inner">
                                            
                                            <div class="course-intro">
                                              <h4>Web and Mobile Systems</h4>
                                            </div>              
                                        </div>                      
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="inner">
                                            
                                            <div class="course-intro">
                                                 <h4>Computer Systems and Network</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        
                                        <div class="inner">    
                                            <div class="course-intro">
                                                 <h4>Computer Science and Engineering</h4>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!--
                                    
                                    -->
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
         



        <!-- Apply Now Start -->
        <div class="apply-now-v1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="item">
                            <div class="left">
                                <p>Don't wait .Apply right now for admission</p>
                            </div>
                            <div class="right">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Apply Now End -->

        
        <!-- Footer Main Start -->
        <section class="footer-main">
            <div class="container">
             <h4 class="address text-center">International Institute of Professional Android, Web and IT Systems</h4>
             <h5 class="text-center  text-danger"><b>Rond Point Sapeur Pompier, Bonaberi Douala ( Yellow Building on the Road to Ancienne Route(Besseke/Bonambappe)</b></h5>
            </div>
        </section>

        <!-- Footer Main End -->

        
        <!-- Footer Bottom Start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 copyright">
                        Copyright   International Institute of Professional Android, Web and IT Systems. All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->
    </div>
</div>

<% include partials/bottomlayout %>
        

<script src="../js/anotherfade.js" type="text/javascript"></script> 





   
    
       
    
   
