<% include partials/toplayout %>
<!-- course detail top --> 
 <% include partials/topcoursedetails %>
        
        <!-- coursedetailtop ends here -->

                                        <!--courseproper -->
                                        <div class="text no-pb">
                                            <% include partials/webdesignlist %>
                                        </div>
                                    <!--courseproper ends here-->
  
                                     <!--bottom coursedetails -->
 
 <% include partials/bottomcoursedetails %>
<!--bottom coursedetails ends here --> 

        
        <!-- footer -->
         <% include partials/footer %>
         <!--footer ends here -->
 <% include partials/bottomlayout %>